/* SECOND CHOICE COLOR */

:root {
  --green-darkest:#002C32; 
  --green-darker:hsl(95, 36%, 25%); 
  --green-dark:hsl(130, 86%, 8%); 
  --green-medium:hsl(160, 26%, 25%);
  --green-light:hsl(80, 25%, 39%); 
  --green-ligther:hsl(77, 30%, 53%); 

}

/* PORTRAIT IMAGE */
.bottom-image {
    position: relative;
    /* not staying at the bottom!!!!!! */
    display: block;
    bottom: 0; 
    left: 0;
    right: 0;

    margin-left: 20%;
    margin-right: auto;
}


@media screen and (max-width: 500px) {
  .side-image {
      display: none;
  }
  .linkto {
      width: 40%;
      font-size: 12px;
  }
}

@media screen and (min-width: 700px) {
.linkto {
  width: 47%;
      margin: .5em 1em;
      font-size: medium;
}
}

@media screen and (min-width: 960px) {
.social-media {
  justify-content: space-between;
}
.linkto {
  width: 23.5%;
  margin: 0;
}
}

























/* HORIZONTAL LILNE NOT USING */
.padding {
    padding: 20px;
}

hr.divider {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
}

hr.divider:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    
}














/* BACKGROUND VIDEO NOT USED looks bad but good try :D*/
.fullscreen-bg {
    filter: blur(8px);
    -webkit-filter: blur(2px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100
}

.myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    height: -webkit-fill-available; /* left right space aappears on specific sizes */
}

/* fot he viewport that doesnt mathc 16:9 aspect ratio  // not sure if works */
@media (min-aspect-ratio: 16/9) {
    .myVideo {
      width: 100%;
      height: auto;
    }
  }
  
@media (max-aspect-ratio: 16/9) {
    .myVideo {
      width: auto;
      height: 100%;
    }
} 


/* @media (min-aspect-ratio: 16/9) {
    .myVideo {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .myvideo {
      width: 300%;
      left: -100%;
    }
  } */
  
  @media (max-width: 767px) {
    .fullscreen-bg {
      background: url("/video/green_cell.mp4") center center / cover no-repeat;
    }
  
    .Myvideo {
      display: none;
    }
  }